/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e4ded5;
    margin: 0;
    padding: 2.5%;
    background-image: url('img/background.png');
    background-repeat: repeat;
}


.songArtWordContainer {
    background-color: #ffefbe;
    /*border: #ffefbe solid 15px;*/
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.songArt {
    height: auto;
    width: 99%;
    border: black solid 1px;
    margin-top: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.drawingBoard{
    max-height:auto;
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.happyAnniWord {
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #b73f48;
    font-weight: bold;
    text-align: center;
}

.board-container {
    background-color: #ffefbe;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 3%;
    text-align: center;
    position: relative; 
}

h1 {
    margin-bottom: 20px;
    color: #f7ede1;
    text-align: center;
    background-color: #b73f48;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: solid #f7ede1 3px;
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px 100px / 120px;
    font-weight: bold;
}

#bulletinBoard {
    column-count: 3; 
    column-gap: 20px; 
}

.note-card {
    background-color: white; 
    padding: 15px;
    border: 6px solid #f8999d;
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: rotate(-0deg); 
    transition: transform 0.2s ease-in-out;
    border-bottom: 32.5px solid #f8999d;
    height: 250px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.note-card#adjustLast{
    margin-left: 0;
}


.message {
    padding-top: 5px;
    height: 190px;
    width: auto;
    color: #555;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.signature {
    width: 100px; 
    height: auto; 
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pseudo {
    color: #555;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    
}
.pin {
    content: '';
    background-image: url('img/mukamuka.webp'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px; 
    height: 20px; 
    position: absolute;
    top: -10px; 
    left: calc(50% - 12px); 
    z-index: 10; 
}


#creditsTable{
    column-count: 3; 
    column-gap: 20px;
}

.creditsContainer{

    background-color: #ffefbe;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 3%;
}

.credits{
    margin: 0 auto;
    padding: 3%;
    text-align: center;
    position: relative; 
    box-sizing: border-box;
}
.creditsTitle{
    
    text-align: center;
    display: inline-block;
    font-weight: bolder;
    color: #b73f48;
    text-decoration: underline;

}
.creditsP{
    text-align: center;
    display: inline-block;
    color: #b73f48;
    position: relative;
    
}
.creditsDrawings{
    text-align: center;
    color: #b73f48;
    position: relative;
}
a:link{
    color: #b73f48;
    font-weight: bold;
    text-decoration: none;
    
}
a:visited{
    color: #b73f48;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}




/*Responsive*/

@media screen and (max-width: 900px) {
    #bulletinBoard {
        column-count: 1; 
    }
    #creditsTable{
       column-count: 1; 
       gap: 20px;
    }
    
    #cover-card {
        display: none;
    }
    #cover-img {
        display: none;
    }
    .note-card#adjustLast{
        margin-left: 0;
    }


}

@media screen and (max-width: 1300px ) and (min-width : 901px) {
    #bulletinBoard {
        column-count: 2; 
    }   
    #cover-card {
        display: none;
    }
    #cover-img {
        display: none;
    }
    .note-card#adjustLast{
        margin-left: 50%;
    }
}



